<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TinyWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TinyWatcher.Properties.Settings>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timerTick" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTime" serializeAs="String">
                <value>10</value>
            </setting>
        </TinyWatcher.Properties.Settings>
    </userSettings>
</configuration>